.form-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    height: 200px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.complete {
    border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
}

.add-file {
    background: hotpink;
    color: white;
    border: none;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
    cursor: pointer;
}
.boton-ok {
    background: hotpink;
    color: white;
    border: none;
    border-radius: .25rem;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
    cursor: pointer;
    padding: 5px;
}

.link {
    text-align: end;
    margin-top: 20px;
}