<link rel="stylesheet" href="css/newProduct.css">

<div class="form-container">
    <form id="productForm" class="form">
        <input id="name" name="name" class="complete" placeholder="Nombre"></input>
        <input id="price" name="price" class="complete" placeholder="Precio"></input>
        <input type="file" id="image" name="image" class="add-file"></input>
        <input type="submit" class="boton-ok">
    </form>
</div>

<div class="link">
    <a href="http://localhost:8080/productos">Ver Productos</a>
</div>

<script src="js/newProduct.js"></script>