<head>
    <link rel="stylesheet" href="css/allProducts.css">
</head>

<h2 class="title">Productos</h2>
{{#if hasProducts}}
    <div class="grid">
        {{#each allProducts}}
            <div class="card">
                <p class="title-card">{{this.name}}</p>
                <p>${{this.price}}</p>
                <img src="http://localhost:8080/img/{{this.image}}" class="img"></img>
            </div>
        {{/each}}
    </div>
    {{else}}
        <p class="no-products">Ups, aún no hay productos.</p>
    {{/if}}

<div class="link">
    <a href="http://localhost:8080/agregar">Agregar Productos</a>
</div>

