<div>
    <h2>Ups, aún no iniciaste sesión</h2>
    <p>Para continuar <a href="http://127.0.0.1:8080/account/login">inicia sesión</a> o <a href="http://127.0.0.1:8080/account/register">registrate</a></p>
</div>